<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list-SignUp | Dark869</title>
    <link rel="icon" type="image/x-icon" href="{% static 'public/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'styles/signUp.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 id="signUp">To-do List<br>Sign Up</h1>
        </div>
        <form class="form" id="signUpForm" action="" method="POST">
            {% csrf_token %}
            <p class="nameInput">Name</p>
            <input type="text" class="text-input" id="name" name="name" placeholder="Name" autofocus>
            <p class="nameInput">Email</p>
            <input type="email" class="text-input" id="email" name="email" placeholder="Email">
            <p class="nameInput">Password</p>
            <input type="password" class="text-input" id="passwd" name="password" placeholder="Password">
            <p class="nameInput">Confirm Password</p>
            <input type="password" class="text-input" id="confirmPasswd" name="confirmPassword" placeholder="Confirm Password">
            <div class="inputSignUp">
                <input type="submit" id="btnSignUp" value="Sign Up">
            </div>
        </form>
        <div class="textRegisteredUser">
            <p id="textRegistered">Already registered? <a href="/signIn">Sign In</a></p>
        </div>
    </div>

    <script src="{% static 'scripts/signUp.js' %}"></script>
</body>
</html>
